body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #EEEEEE;
}

.header{
    text-align:center;
    font-size: 45px;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;


}

.gridGame {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    flex :1;
  }
  
.grid {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393E46;
    width: 150px;
    height: 150px;
    color : #EEEEEE;
    font-size: 75px;
    text-align: center;

  }

  .grid:hover{
      background-color: #222831;
  }

  .win{
      text-align: center;
      margin-top: 20px;
      color: green;
      font-size: 30px;
    
  }

  .leftPanel {
flex:1;
      display: flex;
      flex-direction:column;
      justify-content: baseline;
      gap:10px;
      align-self: flex-start;

  }

  .rightPanel{
      flex: 1;
      text-align: center;
  }

  input[type=text]{
      width: 80%;
      border: none;
      border-bottom: 2px solid #222831;
      background-color: #EEEEEE;
      margin:10px;
      
    
  }

  input[type=submit]{
      width : 80%;
      background-color: #EEEEEE;
      border: 2px solid #222831;
      border-radius: 3px;
      margin:10px;
      padding: 5px;
  }

  input[type=submit]:hover{
      color:#393E46;
      border :3px solid #393E46;
  }

  input[type=submit]:focus{
      outline:none;
  }

  input[type=text]:focus{
      outline:none;
  }

  .leftPanel > p{
      width: 80%;
      margin: 10px;
  }